[submodule "appotech/dpf-ax"]
	path = appotech/dpf-ax
	url = https://github.com/dreamlayers/dpf-ax.git
[submodule "sitronix/st2205/crasm"]
	path = sitronix/st2205/crasm
	url = https://github.com/colinbourassa/crasm.git
